<h1 class="animated fadeIn fast">Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam error autem saepe commodi necessitatibus earum sapiente pariatur non quisquam officia deleniti fuga obcaecati, veniam ex ullam culpa quasi? Qui, quisquam! Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Temporibus quos laboriosam nobis veritatis quis possimus provident, voluptates magni atque dicta, ex at velit, ipsum harum. Dignissimos aliquid at cum odit!</p>